$themes: (
  light: (
    backgroundColor: #fff,
    textColor: #408bbd,
    buttonTextColor: #408bbd,
    buttonTextTransform: none,
    buttonTextHoverColor: #61b0e7,
    buttonColor: rgb(255, 255, 255),
    buttonBorder: 1px solid rgb(0, 208, 255),
    buttonBorderHover: 1px solid rgb(0, 0, 0),
  ),
  dark: (
    backgroundColor: #222,
    textColor: #ddd,
    buttonTextColor: #aaa,
    buttonTextTransform: uppercase,
    buttonTextHoverColor: rgb(255, 255, 255),
    buttonColor: #333,
    buttonBorder: 1px solid #aaa,
    buttonBorderHover: 1px solid rgb(250, 250, 250),
  ),
  orange: (
    backgroundColor: #222,
    textColor: rgb(245, 60, 23),
    buttonTextColor: rgb(243, 79, 43),
    buttonTextTransform: uppercase,
    buttonTextHoverColor: rgb(255, 255, 255),
    buttonColor: #333,
    buttonBorder: 1px solid rgb(255, 194, 40),
    buttonBorderHover: 1px solid rgb(255, 139, 100),
  ),
);