@font-face {
  font-family: Accuratist;
  src: url(../assets/fonts/Accuratist.ttf);
}
@font-face {
  font-family: Closeness;
  src: url(../assets/fonts/Closeness.ttf);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

button {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100%;

  input {
    height: 100%;
  }
  input {
    position: absolute;
    bottom: -3px;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #cecece;
    height: calc(100% + 3px);
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 20%;
    border: 1px solid;
    border-radius: 4px;
 

    &:active {
      box-shadow: none;
      transform: translateY(3px);
    }
  }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
