@font-face {
  font-family: Accuratist;
  src: url(../assets/fonts/Accuratist.ttf);
}

@font-face {
  font-family: Closeness;
  src: url(../assets/fonts/Closeness.ttf);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 2vw;
}

body {
  @include themify($themes) {
    font-family: themed('fontFamily');
    color: themed('textColor');
    background-color: themed('backgroundColor');
  }
}

a {
  color: #08b9ff;
}

a:hover {
  color: #f58843;
}

h2 {
  @include themify($themes) {
    cursor: default;
    text-shadow: themed('textShadow');
    &:hover {
      color: themed('textHoverColor');
      background:  themed('divShadowColor');
    }
  }
}

div {
  @include themify($themes) {
    font-family: themed('fontFamily');
    color: themed('textColor');
    background-color: themed('backgroundColor');
    -webkit-box-shadow: inset 0px 0px 1px 1px themed('divShadowColor');
    -moz-box-shadow: inset 0px 0px 1px 1px themed('divShadowColor');
    box-shadow: inset 0px 0px 1px 1px themed('divShadowColor');
  }

  width: inherit;
}

span {
  @include themify($themes) {
    font-size: themed('fontSize');
  }
  padding: 5px 5px 5px 5px;
}

button {
  @include themify($themes) {
    color: themed('textColor');
    background-color: themed('backgroundColor');
    border: themed('buttonBorder');
    font-size: themed('fontSize');
  }

  font-family: Accuratist;
  padding: 1px 1px 1px 1px;
  margin: 1px 1px 1px 1px;

  &:active {
    box-shadow: none;
    /**transform: translateY(-1px);
    transform: translateX(-1px);*/
  }

  &:hover {
    @include themify($themes) {
      color: themed('buttonTextHoverColor');
      border: themed('buttonBorderHover')
    }
  }
}

input {
  @include themify($themes) {
    font-family: themed('fontFamily');
    color: themed('textColor');
    background-color: themed('backgroundColor');
    border: themed('inputBorder');
    font-size: themed('fontSize');
  }

  padding: 1px 1px 1px 1px;
  margin: 1px 1px 1px 1px;

  &:active {
    box-shadow: none;
    /**transform: translateY(-1px);
    transform: translateX(-1px);*/
  }

  &:hover {
    @include themify($themes) {
      color: themed('buttonTextHoverColor');
      border: themed('buttonBorderHover')
    }
  }
}

p {
  margin: 0;
  padding: 0;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Scroll bars */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  @include themify($themes) {
    box-shadow: themed('scrollBar');
  }
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @include themify($themes) {
    background: themed('scrollbarThumb');
  }
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @include themify($themes) {
    background: themed('scrollbarThumbHover');
  }
}

.myScroll {
  height: 92%;
  overflow: scroll;
  overflow-x: hidden;
}

.middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;

  &.column {
    flex-direction: column;
  }
}

.verCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;

  @include themify($themes) {
    color: themed('textColor');
    background-color: themed('backgroundColor');
  }
}

.horCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  @include themify($themes) {
    color: themed('textColor');
    background-color: themed('backgroundColor');
  }
}

.bg-transparent {
  background-color: transparent !important;
}

.fill {
  width: 100% !important;
  height: 100% !important;
  @include themify($themes) {
    font-family: themed('fontFamily');
  }
}

.fit {
  width: fit-content !important;
  height: fit-content !important;
}

.hey {
  height: 200px;
}

.h95 {
  height: 95vh;
}

.h50 {
  height: 90vh;
}

.h5 {
  height: 3vh;
}

.w30 {
  width: 30vw;
}

.paddingtop20 {
  padding-top: 1vw;
}

.textColorWhite {
  color: white;
}

.textCenter {
  text-align: center;
}

.midWrapper {
  // width: 60vh;
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tttWrapper {
  width: 40vh;
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tttField {
  animation: safirBounceAnim 1s ease-in-out 0s 1 normal forwards;
  background: radial-gradient( #08A09A 0%, #4A00FF 100%);
  border: solid blueviolet 1px;
  width: 20vw;
  height: 20vw;
  max-width: 190px !important;
  max-height: 190px !important;
  font-size: 40px !important;
}

.funnyBg1 {
  background: linear-gradient(90deg, #D80909 0%, #A1D024 10%, #00F90B 20%, #1AB5DC 30%, #401CCA 60%, #67145A 70%, #860d74 80%, #d6164f 90%, #d41010 100%);
}

.myPadding {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.blackText {
  color: black;
}

.avatarProfile {
  color:indigo;text-shadow: 0px 0px 1px #52f2ff, 1px 1px 1px #14ffff;
  width: 256px;
  height: 256px;
}