@font-face {
  font-family: Accuratist;
  src: url(/assets/fonts/Accuratist.ttf);
}

@font-face {
  font-family: Closeness;
  src: url(/assets/fonts/Closeness.ttf);
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 2vw;
}

.theme-light body {
  font-family: Accuratist;
  color: #408bbd;
  background-color: #fff;
}

.theme-dark body {
  font-family: Accuratist;
  color: white;
  background-color: #535353;
}

.theme-orange body {
  font-family: Accuratist;
  color: #ff2600;
  background-color: black;
}

.theme-light h2 {
  border: 1px solid #b0ebf8;
}

.theme-light h2:hover {
  border: 1px solid #00ddff;
}

.theme-dark h2 {
  border: 1px solid #aaa;
}

.theme-dark h2:hover {
  border: 1px solid #fafafa;
}

.theme-orange h2 {
  border: 1px solid #ffc228;
}

.theme-orange h2:hover {
  border: 1px solid #ff8b64;
}

.theme-light div {
  font-family: Accuratist;
  color: #408bbd;
  background-color: #fff;
  -webkit-box-shadow: inset 0px 0px 2px 1px #49d8ff14;
  box-shadow: inset 0px 0px 2px 1px #49d8ff14;
}

.theme-dark div {
  font-family: Accuratist;
  color: white;
  background-color: #535353;
  -webkit-box-shadow: inset 0px 0px 2px 1px #ff000014;
  box-shadow: inset 0px 0px 2px 1px #ff000014;
}

.theme-orange div {
  font-family: Accuratist;
  color: #ff2600;
  background-color: black;
  -webkit-box-shadow: inset 0px 0px 2px 1px #ff000014;
  box-shadow: inset 0px 0px 2px 1px #ff000014;
}

button {
  font-family: Accuratist;
  padding: 1px 1px 1px 1px;
  margin: 1px 1px 1px 1px;
}

.theme-light button {
  color: #408bbd;
  background-color: #fff;
  border: 1px solid #b0ebf8;
}

.theme-dark button {
  color: #d6d6d6;
  background-color: #535353;
  border: 1px solid #aaa;
}

.theme-orange button {
  color: #f34f2b;
  background-color: black;
  border: 1px solid #ffc228;
}

.theme-light button:hover {
  color: #61b0e7;
  border: 1px solid #00ddff;
}

.theme-dark button:hover {
  color: white;
  border: 1px solid #fafafa;
}

.theme-orange button:hover {
  color: white;
  border: 1px solid #ff8b64;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Scroll bars */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 8px;
}

.theme-light ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #207487;
          box-shadow: inset 0 0 5px #207487;
}

.theme-dark ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #207487;
          box-shadow: inset 0 0 5px #207487;
}

.theme-orange ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #207487;
          box-shadow: inset 0 0 5px #207487;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.theme-light ::-webkit-scrollbar-thumb {
  background: silver;
}

/* Handle on hover */
.theme-light ::-webkit-scrollbar-thumb:hover {
  background: orange;
}

.theme-dark ::-webkit-scrollbar-thumb:hover {
  background: orange;
}

.theme-orange ::-webkit-scrollbar-thumb:hover {
  background: orange;
}

.myScroll {
  height: 92%;
  overflow: scroll;
  overflow-x: hidden;
}

.middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}

.middle.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.verCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}

.theme-light .verCenter {
  color: #408bbd;
  background-color: #fff;
}

.theme-dark .verCenter {
  color: white;
  background-color: #535353;
}

.theme-orange .verCenter {
  color: #ff2600;
  background-color: black;
}

.horCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.theme-light .horCenter {
  color: #408bbd;
  background-color: #fff;
}

.theme-dark .horCenter {
  color: white;
  background-color: #535353;
}

.theme-orange .horCenter {
  color: #ff2600;
  background-color: black;
}

.fill {
  width: 100% !important;
  height: 100% !important;
}

.fit {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
}

.hey {
  height: 200px;
}

.h95 {
  height: 95vh;
}

.h50 {
  height: 90vh;
}

.h5 {
  height: 5vh;
}
/*# sourceMappingURL=style.css.map */