$themes: (
  light: (
    fontFamily: 'Accuratist',
    fontSize: 2vw,
    backgroundColor: transparent,
    divShadowColor: #49d8ff14,
    scrollBar: inset 0 0 5px rgb(32, 116, 135),
    scrollbarThumb: silver,
    scrollbarThumbHover: orange,
    textColor: #023e66,
    textShadow: 0px 0px 1px #52f2ff,
    buttonTextColor: #0f2d41,
    buttonTextTransform: none,
    buttonTextHoverColor: #000000,
    buttonColor: rgb(255, 255, 255),
    buttonBorder: 1px solid rgb(0, 148, 181),
    buttonBorderHover: 1px solid rgb(0, 221, 255),
    inputBorder: 1px solid #7c19ff
  ),
  dark: (
    fontFamily: 'Accuratist',
    fontSize: 2vw,
    backgroundColor: rgb(83, 83, 83),
    divShadowColor: #ff000014,
    scrollBar: inset 0 0 5px rgb(32, 116, 135),
    scrollbarThumbHover: orange,
    textColor: rgb(255, 255, 255),
    textShadow: 0px 0px 1px #52f2ff,
    buttonTextColor: rgb(214, 214, 214),
    buttonTextTransform: uppercase,
    buttonTextHoverColor: rgb(255, 255, 255),
    buttonColor: #333,
    buttonBorder: 1px solid #aaa,
    buttonBorderHover: 1px solid rgb(250, 250, 250),
    inputBorder: 1px solid #ff8819
  ),
  orange: (
    fontFamily: 'Accuratist',
    fontSize: 2vw,
    backgroundColor: rgb(0, 0, 0),
    divShadowColor: #ff000014,
    scrollBar: inset 0 0 5px rgb(32, 116, 135),
    scrollbarThumbHover: orange,
    textColor: rgb(255, 38, 0),
    textShadow: 0px 0px 1px #52f2ff,
    buttonTextColor: rgb(243, 79, 43),
    buttonTextTransform: uppercase,
    buttonTextHoverColor: rgb(255, 255, 255),
    buttonColor: #333,
    buttonBorder: 1px solid rgb(255, 194, 40),
    buttonBorderHover: 1px solid rgb(255, 139, 100),
    inputBorder: 1px solid #fce14a
  )
);