@font-face {
  font-family: Accuratist;
  src: url(../assets/fonts/Accuratist.ttf);
}

@font-face {
  font-family: Closeness;
  src: url(../assets/fonts/Closeness.ttf);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 2vw;
}

body {
  @include themify($themes) {
    font-family: Accuratist;
    color: themed('textColor');
    background-color: themed('backgroundColor');
  }
}

h2 {
  @include themify($themes) {
    border: themed('buttonBorder');
    &:hover {
      color: themed('textHoverColor');
      border: themed('buttonBorderHover');
    }
  }
}

div {
  @include themify($themes) {
    font-family: Accuratist;
    color: themed('textColor');
    background-color: themed('backgroundColor');
    -webkit-box-shadow: inset 0px 0px 2px 1px themed('divShadowColor');
    -moz-box-shadow: inset 0px 0px 2px 1px themed('divShadowColor');
    box-shadow: inset 0px 0px 2px 1px themed('divShadowColor');
  }
}

button {
  @include themify($themes) {
    color: themed('textColor');
    background-color: themed('backgroundColor');
    border: themed('buttonBorder');
  }

  font-family: Accuratist;
  padding: 1px 1px 1px 1px;
  margin: 1px 1px 1px 1px;

  &:active {
    box-shadow: none;
    transform: translateY(-1px);
    transform: translateX(-1px);
  }

  &:hover {
    @include themify($themes) {
      color: themed('buttonTextHoverColor');
      border: themed('buttonBorderHover')
    }
  }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Scroll bars */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  @include themify($themes) {
    box-shadow: themed('scrollBar');
  }
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @include themify($themes) {
    background: themed('scrollbarThumb');
  }
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @include themify($themes) {
    background: themed('scrollbarThumbHover');
  }
}

.myScroll {
  height: 92%;
  overflow: scroll;
  overflow-x: hidden;
}

.middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;

  &.column {
    flex-direction: column;
  }
}

.verCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;

  @include themify($themes) {
    color: themed('textColor');
    background-color: themed('backgroundColor');
  }
}

.horCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  @include themify($themes) {
    color: themed('textColor');
    background-color: themed('backgroundColor');
  }
}

.fill {
  width: 100% !important;
  height: 100% !important;
}

.fit {
  width: fit-content !important;
  height: fit-content !important;
}

.hey {
  height: 200px;
}

.h95 {
  height: 95vh;
}

.h50 {
  height: 90vh;
}

.h5 {
  height: 5vh;
}