@font-face {
  font-family: Accuratist;
  src: url(../assets/fonts/Accuratist.ttf);
}
@font-face {
  font-family: Closeness;
  src: url(../assets/fonts/Closeness.ttf);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  @include themify($themes) {
    font-family: Accuratist;
    color: themed('textColor');
    background-color: themed('backgroundColor');
  }
}

h2 {
  border: themed('buttonBorder');
  &:hover {
    color: themed('textHoverColor');
    border: themed('buttonBorderHover');
  }
}

div {
  @include themify($themes) {
    font-family: Accuratist;
    color: themed('textColor');
    background-color: themed('backgroundColor');
    height: inherit;
    border: themed('buttonBorder');
  }
}

button {
  @include themify($themes) {
    color: themed('textColor');
    background-color: themed('backgroundColor');
    border: themed('buttonBorder');
    font-family: Accuratist;
    padding: 1px 1px 1px 1px;
    margin: 1px 1px 1px 1px;
    &:active {
      box-shadow: none;
      transform: translateY(-1px);
      transform: translateX(-1px);
    }

    &:hover {
      color: themed('buttonTextHoverColor');
      border: themed('buttonBorderHover')
    }
  }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color:black;
  color:white;

  &.column {
    flex-direction: column;
  }
}

.verCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  @include themify($themes) {
    color: themed('textColor');
    background-color: themed('backgroundColor');
  }
}

.horCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  @include themify($themes) {
    color: themed('textColor');
    background-color: themed('backgroundColor');
  }
}

.fill {
  width: 100% !important;
  height: 100% !important;
}

.fit {
  width: fit-content !important;
  height: fit-content !important;
}

.hey {
  height: 200px;
}

.h95 {
  height: 95vh;
}

.h50 {
  height: 90vh;
}

.h5 {
  height: 5vh;
}