.animate-jello {
  -webkit-animation: jello2 1s ease 0s 1 normal forwards;
          animation: jello2 1s ease 0s 1 normal forwards;
}

@-webkit-keyframes jello2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes jello2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.animate-jello2 {
  -webkit-animation: jello 2s ease 0s 1 normal forwards;
          animation: jello 2s ease 0s 1 normal forwards;
}

@-webkit-keyframes jello {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes jello {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.animate-destroy {
  -webkit-animation: animateDestroy 1s ease 0s 1 normal forwards;
          animation: animateDestroy 1s ease 0s 1 normal forwards;
}

@-webkit-keyframes animateDestroy {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-540deg) scale(0);
            transform: rotate(-540deg) scale(0);
  }
}

@keyframes animateDestroy {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-540deg) scale(0);
            transform: rotate(-540deg) scale(0);
  }
}

@-webkit-keyframes safirBounceAnim {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
  }
  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
  93% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes safirBounceAnim {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
  }
  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
  93% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.funnyBg2 {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@font-face {
  font-family: Accuratist;
  src: url(/assets/fonts/Accuratist.ttf);
}

@font-face {
  font-family: Closeness;
  src: url(/assets/fonts/Closeness.ttf);
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 2vw;
}

.theme-light body {
  font-family: "Accuratist";
  color: #023e66;
  background-color: transparent;
}

.theme-dark body {
  font-family: "Accuratist";
  color: white;
  background-color: #535353;
}

.theme-orange body {
  font-family: "Accuratist";
  color: #ff2600;
  background-color: black;
}

a {
  color: #1AB5DC;
}

.theme-light h2 {
  cursor: default;
  text-shadow: 0px 0px 1px #52f2ff;
}

.theme-light h2:hover {
  background: #49d8ff14;
}

.theme-dark h2 {
  cursor: default;
  text-shadow: 0px 0px 1px #52f2ff;
}

.theme-dark h2:hover {
  background: #ff000014;
}

.theme-orange h2 {
  cursor: default;
  text-shadow: 0px 0px 1px #52f2ff;
}

.theme-orange h2:hover {
  background: #ff000014;
}

div {
  width: inherit;
}

.theme-light div {
  font-family: "Accuratist";
  color: #023e66;
  background-color: transparent;
  -webkit-box-shadow: inset 0px 0px 1px 1px #49d8ff14;
  box-shadow: inset 0px 0px 1px 1px #49d8ff14;
}

.theme-dark div {
  font-family: "Accuratist";
  color: white;
  background-color: #535353;
  -webkit-box-shadow: inset 0px 0px 1px 1px #ff000014;
  box-shadow: inset 0px 0px 1px 1px #ff000014;
}

.theme-orange div {
  font-family: "Accuratist";
  color: #ff2600;
  background-color: black;
  -webkit-box-shadow: inset 0px 0px 1px 1px #ff000014;
  box-shadow: inset 0px 0px 1px 1px #ff000014;
}

span {
  padding: 5px 5px 5px 5px;
}

.theme-light span {
  font-size: 2vw;
}

.theme-dark span {
  font-size: 2vw;
}

.theme-orange span {
  font-size: 2vw;
}

button {
  font-family: Accuratist;
  padding: 1px 1px 1px 1px;
  margin: 1px 1px 1px 1px;
}

.theme-light button {
  color: #023e66;
  background-color: transparent;
  border: 1px solid #0094b5;
  font-size: 2vw;
}

.theme-dark button {
  color: white;
  background-color: #535353;
  border: 1px solid #aaa;
  font-size: 2vw;
}

.theme-orange button {
  color: #ff2600;
  background-color: black;
  border: 1px solid #ffc228;
  font-size: 2vw;
}

button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  /**transform: translateY(-1px);
    transform: translateX(-1px);*/
}

.theme-light button:hover {
  color: #000000;
  border: 1px solid #00ddff;
}

.theme-dark button:hover {
  color: white;
  border: 1px solid #fafafa;
}

.theme-orange button:hover {
  color: white;
  border: 1px solid #ff8b64;
}

input {
  padding: 1px 1px 1px 1px;
  margin: 1px 1px 1px 1px;
}

.theme-light input {
  font-family: "Accuratist";
  color: #023e66;
  background-color: transparent;
  border: 1px solid #7c19ff;
  font-size: 2vw;
}

.theme-dark input {
  font-family: "Accuratist";
  color: white;
  background-color: #535353;
  border: 1px solid #ff8819;
  font-size: 2vw;
}

.theme-orange input {
  font-family: "Accuratist";
  color: #ff2600;
  background-color: black;
  border: 1px solid #fce14a;
  font-size: 2vw;
}

input:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  /**transform: translateY(-1px);
    transform: translateX(-1px);*/
}

.theme-light input:hover {
  color: #000000;
  border: 1px solid #00ddff;
}

.theme-dark input:hover {
  color: white;
  border: 1px solid #fafafa;
}

.theme-orange input:hover {
  color: white;
  border: 1px solid #ff8b64;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Scroll bars */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 8px;
}

.theme-light ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #207487;
          box-shadow: inset 0 0 5px #207487;
}

.theme-dark ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #207487;
          box-shadow: inset 0 0 5px #207487;
}

.theme-orange ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #207487;
          box-shadow: inset 0 0 5px #207487;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.theme-light ::-webkit-scrollbar-thumb {
  background: silver;
}

/* Handle on hover */
.theme-light ::-webkit-scrollbar-thumb:hover {
  background: orange;
}

.theme-dark ::-webkit-scrollbar-thumb:hover {
  background: orange;
}

.theme-orange ::-webkit-scrollbar-thumb:hover {
  background: orange;
}

.myScroll {
  height: 92%;
  overflow: scroll;
  overflow-x: hidden;
}

.middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}

.middle.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.verCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}

.theme-light .verCenter {
  color: #023e66;
  background-color: transparent;
}

.theme-dark .verCenter {
  color: white;
  background-color: #535353;
}

.theme-orange .verCenter {
  color: #ff2600;
  background-color: black;
}

.horCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.theme-light .horCenter {
  color: #023e66;
  background-color: transparent;
}

.theme-dark .horCenter {
  color: white;
  background-color: #535353;
}

.theme-orange .horCenter {
  color: #ff2600;
  background-color: black;
}

.bg-transparent {
  background-color: transparent !important;
}

.fill {
  width: 100% !important;
  height: 100% !important;
}

.theme-light .fill {
  font-family: "Accuratist";
}

.theme-dark .fill {
  font-family: "Accuratist";
}

.theme-orange .fill {
  font-family: "Accuratist";
}

.fit {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
}

.hey {
  height: 200px;
}

.h95 {
  height: 95vh;
}

.h50 {
  height: 90vh;
}

.h5 {
  height: 3vh;
}

.w30 {
  width: 30vw;
}

.paddingtop20 {
  padding-top: 10vw;
}

.textColorWhite {
  color: white;
}

.textCenter {
  text-align: center;
}

.midWrapper {
  margin: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tttWrapper {
  width: 40vh;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tttField {
  -webkit-animation: safirBounceAnim 1s ease-in-out 0s 1 normal forwards;
          animation: safirBounceAnim 1s ease-in-out 0s 1 normal forwards;
  background: radial-gradient(#08A09A 0%, #4A00FF 100%);
  border: solid blueviolet 1px;
  width: 20vw;
  height: 20vw;
  max-width: 190px !important;
  max-height: 190px !important;
  font-size: 40px !important;
}

.funnyBg1 {
  background: -webkit-gradient(linear, left top, right top, from(#D80909), color-stop(10%, #A1D024), color-stop(20%, #00F90B), color-stop(30%, #1AB5DC), color-stop(60%, #401CCA), color-stop(70%, #67145A), color-stop(80%, #860d74), color-stop(90%, #d6164f), to(#d41010));
  background: linear-gradient(90deg, #D80909 0%, #A1D024 10%, #00F90B 20%, #1AB5DC 30%, #401CCA 60%, #67145A 70%, #860d74 80%, #d6164f 90%, #d41010 100%);
}

.myPadding {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.blackText {
  color: black;
}
/*# sourceMappingURL=style.css.map */